pandas==2.2.0
numpy==1.26.0
python-dateutil==2.8.2
scipy==1.12.0
thefuzz[speedup]==0.20.0
scikit-learn==1.4.0
openai==1.10.0
cryptography==42.0.0
python-dotenv==1.0.0
streamlit==1.31.0
plotly==5.18.0
st-annotated-text
